{% extends 'base.html' %}

{% block content %}

<h1>
    {{ article.name }}
</h1>

<p>
    {{article.description }}
</p>

<img src="{{ article.image.url }}" alt="{{ article.name }}" style="max-width: 250px;">

<form action="{% url 'store:add-to-cart' %}" method="post">
    {% csrf_token %}
    
    <label for="product">Choisir la taille :</label>
    <select id="product" name="product">
        {% for product in article.product_set.all %}
        <option value="{{ product.id }}">{{ product.size }} - {{ product.price }} €</option>
        {% endfor %}
    </select>
    <button type="submit">Ajouter au panier</button>

</form>
<p>
    <a href="{% url 'store:index' %}">Retour</a>
</p>

{% endblock %}