* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: rgb(206, 242, 242);
}

.title-section {
    text-align: center;
    padding: 10px;
}

.title-section a {
    text-decoration: none;
}

.title {
    color:black;
}

.menu {
    background-color: gainsboro;
    padding: 10px;
    text-align: right;
}

.welcome-message {
    display: inline;
}

.menu a {
    margin: 10px;
    color: black;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}