<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <p>
            <label for="username">Nom d'utilisateur :</label>
            <input id="username" name="username" type="text" required="true"/>
        </p>
        <p>
            <label for="first-name">Prénom :</label>
            <input id="first-name" name="first-name" type="text"/>
        </p>
        <p>
            <label for="last-name">Nom :</label>
            <input id="last-name" name="last-name" type="text"/>
        </p>
        <p>
            <label for="email">Email :</label>
            <input id="email" name="email" type="email" required="true"/>
        </p>
        <p>
            <label for="password">Mot de passe :</label>
            <input id="password" name="password" type="password"/>
        </p>
        <button type="submit">S'inscrire</button>

    </form>
    
</body>
</html>