{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La boutique de Setra</title>
    <link rel="stylesheet" href="{% static 'store/style.css' %}" />
</head>
<body>
    <header class="header">
        <div class="title-section">
            <a href="{% url 'store:index' %}">
                <h1 class="title">La boutique de Setra</h1>
            </a>
        </div>
        <nav class="menu">
            {% if user.is_authenticated %}
                <div class="welcome-message">Bienvenue {{ user.first_name }} !</div>
                <a href="{% url 'store:cart' %}">Voir le panier</a>
                <a href="{% url 'accounts:logout' %}">Déconnexion</a>
            {% else %}
                <a href="{% url 'accounts:signin' %}">Connexion</a>
                <a href="{% url 'accounts:signup' %}">S'inscrire</a>
            {% endif %}
        </nav>
    
    </header>

{% block content %}

{% endblock %}

    <footer class="footer">
        <a href="#">Nous contacter</a>
        <a href="#">Mentions légales</a>
    </footer
    
</body>
</html>